<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "custom", :media => "all" %>

<div class="add"><b>Tasks</b></div>

<a href="/tasks/new" class="add"><i class="far fa-plus-square"></i></a>

<div class="display">
<table class="flat_table">
  <thead>
    <tr>
      <th>Registerdate</th>
      <th>Duedate</th>
      <th>Task</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <div class="text-input">
        <td style="white-space: nowrap;"><%= task.registerdate %></td>
        <td style="white-space: nowrap;"><%= task.duedate %></td>
        <td><%= task.task %></td>
        <td><%= link_to User.find_by_id(task.user_id)&.name, "/users/#{task.user_id}" %></td>
        <td><a href="<%= "tasks/#{task.id}" %>"><i class="far fa-eye"></i></a></td>
        <td><a href="<%= edit_task_path(task) %>"><i class="fas fa-pen"></i></td>
        <td><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
          <% end %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
