<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag "custom", :media => "all" %>
<table class="under_table">
  <tr>
    <th>Register Date</th>
    <td><%= @task.registerdate%></td>
  </tr>
  <tr>
    <th>Due Date</th>
    <td><%= @task.duedate %></td>
  </tr>
  <tr>
    <th>User</th>
    <td><%= User.find_by_id(@task.user_id)&.name %></td>
  </tr>
  <tr>
    <th>Task</th>
    <td><%= @task.task %>
  </tr>
</table>

<br>
<a href="javascript:history.back();" class="btn-flat-border">戻る</a>
