<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
  <table>
  <thead>
  <tr>
  <th>Tasks</th>
  </tr>
  </thead>
  <tbody>
  <% Task.where(user_id: @user.id).to_a.each do |task| %>
    <tr>
      <td><%= task.task %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'ユーザ一覧', users_path %> |
<%= link_to 'タスク一覧', tasks_path %>
